<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/home">
                Home
            </a>
        </li>
        <li *ngIf="!isLoggedin" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/login">
                Login
            </a>
        </li>
        <ng-container *ngIf="isLoggedin">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-success " id="dropdownBasic1" ngbDropdownToggle>{{user.name}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem (click)="logout()">Log Out</button>

                        </div>
                      </div>
                </a>
            </li>
        </ng-container>
    </ul>

</div>